
<div class="container">
    <div class="bg-image">
      <div id="text">
        <div class="header">
          <h3 class="page-title">ናፅላ</h3>
        </div>
        
        <div class="body">

          <div class="left-body">
          </div>

            <div class="center-body"> 

                <div *ngFor ="let url of toIframe"> 
                  just print this
                  {{url}}
                    <iframe src= {{url}} ></iframe>
                    <!-- <iframe  src= {{url}} ></iframe> -->
                    <br><p></p>
                </div>
                

              <iframe  src="https://www.youtube.com/embed/Hj3cpF4xswY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <br> 
                  <iframe  src="https://www.youtube.com/embed/UFoq1wrNmHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    
                  <br> 
                  <iframe src="https://www.youtube.com/embed/QWLE4C3qpOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>     
                  <iframe  src="https://www.youtube.com/embed/SqRcp2q54qc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>
                  <iframe  src="https://www.youtube.com/embed/8AVG1A4n8VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  <br><br><br><br>
            </div>
            <div class="right-body">
            </div>
        </div>
        <div class="footer">
          <p>footer</p>
        </div>
      </div>

  </div>
</div>


